<div id="left-sidebar">
    <div class="row mt-5">
        <div class="col text-center">
            <img id="logo" src="assets/images/moozic_logo.png">
        </div>
    </div>
    <div class="p-5">
        <div class="row mt-5">
            <div class="col">
                <h3>Catégories</h3>
            </div>
        </div>
        <div class="row" *ngFor="let category of categories">
            <div class="col" (click)="currentCategory = category.id; getSongsByCategory()">
                <span class="categoryName">{{ category.name }}</span>
            </div>
        </div>
    </div>
</div>
<div id="main" class="custom-scrollbar">
    <div class="p-5">
        <div class="row">
            <div class="col">
                <span class="badge badge-pill badge-default tagBadge mr-2 mb-2" *ngFor="let tag of hashtags">{{ tag.name }}</span>
            </div>
        </div>
        <div class="row mt-2 mb-2" *ngFor="let song of songs?.data; let i=index" (click)="showSong(i)">
            <div class="col">
                <div [style.background-image]="getSafeStyle(song.image)" class="rounded-circle float-left mr-3 song-cover"></div>
                <div class="float-left">
                    {{ song.title }}
                </div>
            </div>
            <div class="col-1">
                <i class="fas fa-heart"></i>
            </div>
        </div>
        <div class="text-center">
            <ngb-pagination class="d-flex justify-content-center" (pageChange)="changePage($event)" [page]="songs?.current_page" [pageSize]="songs?.per_page" [collectionSize]="songs?.total"></ngb-pagination>
        </div>
    </div>
</div>
<div id="player">
    <div class="text-center mt-5">
        <h3>Player</h3>
        <div *ngIf="song">
            <div class="row">
                <div class="col">
                    <div [style.background-image]="getSafeStyle(song?.image)" class="rounded-circle bigCover" [ngClass]="{'spin':playStatus}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    {{ song?.title }}<br/>
                    {{ song?.artist.name }}
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <i class="fas fa-step-backward" (click)="prevSong()"></i>
                </div>
                <div class="col text-center">
                    <i class="fas fa-play" *ngIf="!playStatus" (click)="playSong();"></i>
                    <i class="fas fa-pause" *ngIf="playStatus" (click)="pauseSong();"></i>
                </div>
                <div class="col text-center">
                    <i class="fas fa-step-forward" (click)="nextSong()"></i>
                </div>
            </div>
        </div>
    </div>
</div>