/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#left-sidebar , #main, #player {
    position: absolute;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#left-sidebar {
    width: 20%;
    background: #971919;
    color: #fff;
}

#logo {
    width: 50px;
}

#main {
    width: 50%;
    left: 20%;
    background: #fdae02;
}

#player {
    width: 30%;
    background: #0ed678;
    right: 0;
}

.song-cover {
    width: 60px;
    height: 60px;
    background-size: cover;
    border: 2px solid #fff;
    cursor: pointer;
    position: relative;
}

.song-cover:hover {
    top: -5px;
}

.bigCover {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 4px solid #fff;
}

i {
    font-size: 22px;
}

.spin{
    -webkit-animation:spin 4s linear infinite;
   -moz-animation:spin 4s linear infinite;
   animation:spin 15s linear infinite;
 }

 @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
 @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
 @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

 h3 {
     font-size: 22px;
     font-weight: bold;
 }

 .categoryName {
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
 }

 .tagBadge {
     border: 1px solid #9f6e02;
     cursor: pointer;
 }

 .tagBadge:hover {
     background: #9f6e02;
 }

.custom-scrollbar::-webkit-scrollbar {width: 10px;}
.custom-scrollbar::-webkit-scrollbar-track {
    background : #f00;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background : rgba(255,0,0,0.5);
    border-radius: 10px;
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.5);
}